[submodule "ext/SC2GameData"]
	path = ext/SC2GameData
	url = https://github.com/SC2Mapster/SC2GameData.git
[submodule "ext/sc2-layouts"]
	path = ext/sc2-layout
	url = https://github.com/Talv/sc2-layouts.git
