@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import 'bootswatch';
@import 'hljs';
@import 'sidebar';

html {
    font-size: 18px;
}

blockquote {
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 0.5rem;
}

blockquote >*:last-child {
    margin-bottom: 0;
}

em {
    color: $color3;
}

strong, dt {
    font-weight: 500;
    letter-spacing: 0.4px;
}

::-webkit-scrollbar
{
    width: 12px;
    height: 6px;
}

::-webkit-scrollbar-track
{
    background: rgba(22, 1, 1, 0.212);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

// 
// 
// 

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1, h2 {
    padding: 1rem;
    background: rgba(#000, 0.1);
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.2rem;
}

.bd-content ul {
    list-style-type: none;
    padding-left: 1rem;

    li {
        &::before {
            content: '—';
            color: $color3;
            padding-right: 0.5rem;
        }
    }
}

// 
// 
// 

.frames-section-list {
    padding-bottom: 1rem;
}

.frame-item {
    // padding: 0.2rem 0;
    // margin: 0.6rem 0;
    margin: 0.2rem 0;
    border-left: 3px solid #000;

    h5 {
        margin: 0;
    }

    p {
        margin: 0;
    }
    
    a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0.8rem;

        &:hover {
            background: rgba(#000, 0.1);
        }

        // >* {
        //     display: block;
        //     flex: 1;
        // }
    }

    .ctype {
        display: block;
        padding: 0.5rem 2rem;
        padding-top: 0;
    }

    &::before {
        // content: '—';
    }
}

.frame-fields {
    .class-divider {
        background: rgba(#000, 0.2);
    }

    .dl-attrs {
        dd {
            margin-bottom: 0.1rem;
        }
    }
}
