@import "bootswatch/dist/slate/variables";

$color3: #a6e22e;
$color4: $pink;
// $enable-shadows: true;
$font-family-base: 'Ubuntu', sans-serif;
// $font-size-base:              1.0375rem !default;
$input-bg: rgba($dark, 0.1);
$input-color: $white;
$input-border-color: rgba($color3, 0.2);
$input-focus-border-color: rgba($color3, 0.5);
$breadcrumb-active-color:           $gray-500 !default;
$hr-border-width: 2px;
$hr-border-color: rgba($black, 0.15);

@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/slate/bootswatch";
@import "highlight.js/styles/monokai";
@import "sidebar";

@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

html {
    font-size: 18px;
}

body {
    line-height: 1.35em;
}

blockquote {
    background: rgba(#fff, 0.03);
    border: 1px solid rgba($pink, 0.2);
    overflow: hidden;
    padding: 0.4rem 0.6rem;
    font-size: 0.95em;
}

blockquote >*:last-child {
    margin-bottom: 0;
}

em {
    color: $color3;
}

strong, dt {
    font-weight: 500;
    letter-spacing: 0.4px;
}

hr.small {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.clearfix {
    @include clearfix();
}

::-webkit-scrollbar
{
    width: 12px;
    height: 6px;
}

::-webkit-scrollbar-track
{
    background: rgba(22, 1, 1, 0.212);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

//
//
//

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1, h2 {
    padding: 1rem;
    background: rgba(#000, 0.1);
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.2rem;
}

.bd-content {
    a {
        padding: 0.1rem 0.2rem;
        border-bottom: 1px solid rgba($pink, 0.4);

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            border-bottom-color: $pink;
        }
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.bd-content ul {
    list-style-type: none;
    padding-left: 1rem;

    li {
        &::before {
            content: '—';
            color: $color3;
            padding-right: 0.5rem;
        }
    }
}

// ===

.frames-section-list {
    padding-bottom: 1rem;
}

.frame-item {
    // padding: 0.2rem 0;
    // margin: 0.6rem 0;
    margin: 0.3rem 0;
    border-left: 3px solid #000;

    h5 {
        display: inline-block;
        margin: 0;
    }

    p {
        margin: 0;
    }

    h5 >a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.2rem 0.8rem;

        &:hover {
            background: rgba(#000, 0.1);
        }

        // >* {
        //     display: block;
        //     flex: 1;
        // }
    }

    .ctype {
        font-size: 0.6rem;
        float: right;
        text-align: right;
        display: inline-block;
        padding: 0.5rem 0;
        padding-left: 1rem;
        padding-top: 0;
        max-width: 40%;
        overflow: hidden;
        line-height: 1rem;
    }

    &::before {
        // content: '—';
    }

    &::after {
        display: block;
        content: '';
        clear: both;
    }
}

.frame-fields {
    width: 100%;
    font-size: 0.9em;
    line-height: 1.1em;

    >dd {
        margin-bottom: 0;
    }

    .class-divider {
        background: rgba(#000, 0.2);
    }

    .dl-attrs {
        margin-bottom: 0;

        dd {
            margin-bottom: 0.1rem;
        }
    }

    hr {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
