@import 'variables';
@import 'bootswatch';
@import 'hljs';

blockquote {
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 0.5rem;
}

blockquote >*:last-child {
    margin-bottom: 0;
}

em {
    color: #a6e22e;
}

strong {
    font-weight: 600;
    letter-spacing: 0.4px;
}

::-webkit-scrollbar
{
    width: 12px;
    height: 6px;
}

::-webkit-scrollbar-track
{
    background: rgba(22, 1, 1, 0.212);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}